<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPPOSTURE</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen" />

</head>

<body class="colorful_bkg ">
    <main class="login">
        <div class="container">
            <div class="intro">
                <h3>Welcome,</h3>
                <p class="bold">Log in to continue!</p>
            </div>
            <form class="form" action="/find" method="post" th:object="${loginResource}">
                <fieldset class="roundness">
                    <legend>Email</legend>
                    <input type="text" id="femail" name="email" placeholder="email" class="cnavy" th:field="*{email}">
                    <span th:errors="*{email}"></span>
                </fieldset>
                <fieldset class="roundness">
                    <legend>Password</legend>
                    <input type="password" id="fpassword" name="password" placeholder="password" class="cnavy" th:field="*{password}">
                    <span th:errors="*{password}"></span>
                </fieldset>
                <a class="tip bold italic">Forgot password?</a>
                <button  class="btn btn-white btn-full roundness shadow">Login</button>
                <div class="fremember">
                    <p class="tip bold">Remember me</p>
                    <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
                </div>
            </form>
            <div class="signin">
                <a href="signin.html">New user? <span class="cnavy heavy">Sign In!</span></a>
            </div>
        </div>
    </main>

</body>

</html>