<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPPOSTURE</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />

</head>

<body class="colorful_bkg ">
    <main class="login">
        <div class="container">
            <div class="intro">
                <h3>Create account,</h3>
                <p class="bold">Sign up to get started.</p>
            </div>
            <form class="form" action="/user" method="post" th:object="${user}">
                <fieldset class="roundness">
                    <legend>Name</legend>
                    <input type="text" id="fname" name="name" placeholder="Full Name" class="cnavy" th:field="*{name}">
                    <span th:errors="*{name}"></span>
                </fieldset>
                <fieldset class="roundness">
                    <legend>Email</legend>
                    <input type="email" id="femail" name="email" placeholder="email@domain.com" class="cnavy" th:field="*{email}">
                    <span th:errors="*{email}"></span>
                </fieldset>
                <fieldset class="roundness">
                    <legend>Password</legend>
                    <input type="password" id="fpassword" name="password" placeholder="password" class="cnavy" th:field="*{password}">
                    <span th:errors="*{password}"></span>
                </fieldset>
                <button class="btn btn-white btn-full roundness shadow">Create account</button>
            </form>
            <div class="signin">
                <a href="login.html">Already a user? <span class="cnavy heavy">Log In!</span></a>
            </div>
        </div>
    </main>

</body>

</html>